*,*::after,*::before{
    padding: 0;
    margin: 0;
}
body{
    background-color: darkslategray;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: darkslategray;;
}
.logo{
    font-size: 20px;
}
.nav a{
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    color: #fff;
    text-transform: uppercase;
}
.nav a::before{
    position: absolute;
    opacity: 0;
    content: "";
    display: inline-block;
    width: 100%;
    top: 100%;
    background-color: green;
    height: 2px;
}
.nav a:hover::before{
    opacity: 1;
}
.nav a:hover{
    color: green;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}
form{
    display: flex;
    box-sizing: border-box;
    width: 250px;
    flex-direction: column;
    margin-top: 10px;
}
form .place{
    margin: 10px 0;
    outline: 0;
    padding: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.btn{
    width: 80px;
    padding: 7px 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.section img{
    width: 100%;
}

.sc-bottom{
    padding-top: 10px;
}
.sc-p{
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}
.sc-p span{
    color: gold;
}